/* google fonts */

/* google fonts */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-color: #08090a;
  color: white;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
  .theme {
    --animate-marquee: marquee var(--duration) infinite linear;
    --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  }
}

.section-padding-x {
  padding-left: 16px;
  padding-right: 16px;
}
.section-padding-y {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 650px) {
  .section-padding-x {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-padding-y {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1460px) {
  .section-padding-x {
    padding-left: 150px;
    padding-right: 150px;
  }
  .section-padding-y {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@theme inline {
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}


#RFS-StepButton.active,
#RFS-StepButton.completed{
  background-color: #69CA6A !important;
}
#RFS-Connector{
  height: 10px !important;
  background: #69CA6A !important;
  border: none !important;
}

#RFS-ConnectorContainer{
  top: 10px !important;
  left:  calc(-50% + 2em - 17px) !important;
  right: calc(50% + 2em - 17px) !important;

}
